html
  head
    title #LDSconf
    meta(name='viewport',content='width=device-width,initial-scale=1')
    link(href='/styles/global.css',rel='stylesheet')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css',rel='stylesheet')
  body
    header
      h1.title #LDSconf
      a(rel='pause')
        i.fa.fa-pause
      a(rel='speed')
        i.fa.fa-tachometer
    div.speed
      p Show a tweet every #[span.speed 2] sec
      a(rel='speedUp')
        i.fa.fa-arrow-up
      a(rel='slowDown')
        i.fa.fa-arrow-down
    div.video
      iframe(src='https://www.youtube.com/embed/Tx02onI6T9c',frameborder='0',allowfullscreen)
    div.tweets
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='//cdn.socket.io/socket.io-1.3.4.js')
    script(src='/scripts/global.js')