body {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 16px;
	margin: 0;
}
header {
	margin: 0;
	padding: .5em 1em 1em 1em;
	background-color: #2a3753;
	color: #fff;
}
h1 {
	margin: 0;
	font-size: 2em;
}
a[rel=pause] {
	cursor: hand;
	float: right;
	font-size: 2em;
	margin-top: -1em;
}
div.tweet {
	overflow: hidden;
	padding: .5em;
	border-bottom: 1px solid #999;
}
h2 {
	margin: 0;
}
p {
	margin: 0;
}
img.profile-image {
	float: left;
	margin-right: 1em;
}
div.video {
	display: none;
}