body {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 16px;
	margin: 0;
}
header {
	margin: 0;
	padding: .5em 1em;
	background-color: #2a3753;
	color: #fff;
}
h1 {
	margin: 0;
	font-size: 2em;
	display: inline-block;
}
header a {
	cursor: hand;
	float: right;
	font-size: 2em;
	margin: .1em 0 0 .25em;
}
div.speed {
	background-color: #0091bc;
	color: #fff;
	padding: .5em;
	display: none;
}
div.speed p {
	display: inline-block;
}
div.speed a {
	cursor: hand;
	margin: 0 .25em;
	float: right;
}
div.tweet {
	overflow: hidden;
	padding: .5em;
	border-bottom: 1px solid #999;
}
h2 {
	margin: 0;
}
p {
	margin: 0;
}
img.profile-image {
	float: left;
	margin-right: 1em;
	height: 48px;
	width: 48px;
}
div.video {
	display: none;
}